
@import url('http://getbootstrap.com/dist/css/bootstrap.css');

#create {
    
    font-family: 'Teko', sans-serif;
    font-weight:bold;
    font-size: 11vw;
    color:#d7dfe1
}

#fixed-nav {
    background-color:#093649;
    z-index:999;
    overflow: visible;
    /* position: absolute; */
    position: fixed; 
    top: 0; 
    width: 100%;
   

}

.navbar-dark .navbar-toggler-icon{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

#end {

    display: flex;
    justify-content: flex-end;
}


html, body {
    position: relative;
    height: 100%;
    z-index:1
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    z-index:1
}

.swiper {
    width: 100%;
    height: 100%;
    z-index:1
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #d7dfe1;

/* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    z-index:1
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:1
}

#tester {

    height: 78px;
    margin-bottom:0px;
    border:none;
    z-index:1;
}

/* #custom-card-1 {
    
    /* border-radius: 0px; */
    /* position: fixed; */
    /* height:100vh; */
    /* padding:0; */
    /* z-index:2; */
    /* top: 0px; */
    /* width: 8% */
/* } */

#no-pad {

    margin: 0;
    padding:none
}

#icons {

    font-size: 4vw;
    color:#d7dfe1
}

#welcome {

    color:#152727
}

#need-bar {

    flex-direction: row;
}

#form-info-1 {
    padding-bottom: 14px;
    border-radius: 4px;
}
#form-info-2 {
    padding-bottom: 14px;
    border-radius: 4px;
}
#form-info-3 {
    padding-bottom: 14px;
    border-radius: 4px;
}

@media only screen and (max-width: 767px) {
    #need-bar {
        flex-direction:column;
        
    }

    #need-icon {
        flex-direction:row;
    }
}

@media only screen and (min-width: 992px) {
    #need-icon {
        flex-direction:column
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


#description {

    resize:none;
    border-radius: 6px;
}

#nav-font {

    font-family: 'Teko', sans-serif;
    /* font-weight:bold; */
    font-size: 25px;
    color:#d7dfe1
}

#layout-2 {

    font-family: 'Teko', sans-serif;
    /* font-weight:bold; */
    font-size: 40px;
    color:#d7dfe1

}



@media (max-width: 768px) {

    

    #layout {
        display: flex;
        /* flex-direction: column; */
    }

    #layout :nth-child(1) {
        order: 1;
    }

    #layout :nth-child(2) {
        order: 2;
    }
    
    #layout :nth-child(3) {
        order: 4;
    }

    #layout :nth-child(4) {
        order: 3;
    }
}



/* colour1: #093649 blue dark
colour2: #02567a blue light
colour3: #b6510d burnt orange
colour4: #e98607 orange
colour5: #d7dfe1 white */