





<footer class="container-fluid bg-dark " id="foot">
    <div class="row">
        <div class="col-12  pb-5 d-flex justify-content-center align-items-center" order: 1>

        </div>
        <div class="col-12 gap-5 pb-3 d-flex justify-content-around align-items-center" order: 2>
            <a href="{% url 'user_app:logout' %}" class="link-light text-decoration-none" id="link">Logout</a>
            <a href="#" class="link-light text-decoration-none" id="link">Browse</a>
            <a href="#" class="link-light text-decoration-none" id="link">About Us</a>
        </div>
    </div>
</footer>